<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_3c672"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "BINANCE:BTCUSDT",
    "interval": "240",
    "timezone": "Asia/Seoul",
    "theme": "light",
    "style": "1",
    "locale": "kr",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_3c672"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->